*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Sen", sans-serif;
}

header{
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav{
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: bold;
}

.hero-container{
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    color: #fff;
}

.hero-container button{
    background-color: transparent;
    border: none;
    color: #fff;
}

/* psudo class */
.hero-container button:hover{
    color: gray;
    cursor: pointer;
}

.hero-container .content{
    display: flex;
    padding-top: 100px;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.text-center{
    text-align: center;
}

.image-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 2px;
}

.image-container img{
    width: 100%;
}

.image-container .bottom{
    display: flex;
    gap: 6px;
}

.centerfy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img, .left img, .right img{
    height: 400px;
}

.sale-container .content{
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    max-width: 400px;
    z-index: 1;
}

.sale-container img{
    width: 100%;
}

.sale-container{
    position: relative;
}